<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item">
    <div class="pure-oh-m-cards modal-cards modal-videos" data-filter="Hand">
        <div class="panel col-eq-height modal-node modal-action" data-toggle="modal" data-target="#modalVideo" data-video="{{videoId}}" data-title="{{title}}" data-description="{{description}}">
            <div class="panel-body">
                <figure>
                    <div class="video-thumbnail">
                        <a href="#">
                            <div class="video-overlay"></div>
                            <img src="../images/temp/videos_thumb.png" alt="">
                        </a>
                    </div>
                </figure>
                <h2 class="video-title"><a href="#">{{title}}</a></h2>
                <p><a href="#">{{description}}</a></p>
            </div>
            <div class="panel-footer link-box">
                <a href="#" class="the-permalink modal-action"  data-toggle="modal" data-target="#modalVideo">
                <i class="fa fa-play-circle-o"></i> WATCH VIDEO</a>
            </div>
        </div>
    </div>
</div>